<html>
<head>
    <meta charset="utf-8">
    <title> Testing </title>
</head>
<body>

    <video id="video" height="720", width="1280"> </video>
    <canvas id="canvas"></canvas>
    <button type="button" id="stop">STOP</button>
    <button type="button" id="picture">Take Picture</button>

    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/fotoScript.js"></script>
</body>

</html>
