<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Wuk ester te doen?</title>
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.css' rel='stylesheet'/>
        <link href="https://fonts.googleapis.com/css?family=Rubik:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="css/main.min.css" type="text/css">
        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.js'></script>
    </head>

    <body>
        <div id='map'></div>

        <aside>
            <nav class="menu-controls">
                <a class="hamburger"><i class="material-icons">menu</i></a>
                <a class="photo"><i class="material-icons">photo_camera</i></a>
            </nav>

            <nav class="menu">
                <a><i class="material-icons">star</i>Interesses</a>
                <a><i class="material-icons">cloud</i>Mijn Herinneringen</a>
                <a><i class="material-icons">whatshot</i>Populaire Plaatsen</a>
            </nav>
        </aside>

        <button id="route">route</button>
        <!-- <SCRIPTS> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="js/app.min.js"></script>
        <!-- </SCRIPTS> -->
    </body>
</html>
