<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Wuk ester te doen?</title>
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.css' rel='stylesheet'/>
        <link href="https://fonts.googleapis.com/css?family=Rubik:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="css/main.min.css" type="text/css">
        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.js'></script>
    </head>

    <body>
        <div id='map'></div>

        <aside>
            <nav class="menu-controls">
                <a class="hamburger"><i class="material-icons">menu</i></a>
                <a class="photo"><i class="material-icons">photo_camera</i></a>
            </nav>

            <nav class="menu interesses-page">
                <div class="menu-item horeca">
                    <i class="material-icons">local_cafe</i>
                    <a>Horeca</a>
                </div>

                <div class="menu-item monumenten">
                    <i class="material-icons">account_balance</i>
                    <a>Monumenten</a>
                </div>

                <div class="menu-item parken">
                    <i class="material-icons">nature</i>
                    <a>Parken</a>
                </div>

                <div class="menu-item bib">
                    <i class="material-icons">local_cafe</i>
                    <a>Bibliotheken</a>
                </div>

                <div class="menu-item zitbanken">
                    <i class="material-icons">airline_seat_recline_normal</i>
                    <a>Zitbanken</a>
                </div>

                <div class="menu-item jeugdlokalen">
                    <i class="material-icons">mood</i>
                    <a>Jeugdlokalen</a>
                </div>

                <div class="menu-item sport">
                    <i class="material-icons">directions_run</i>
                    <a>Sportplaatsen</a>
                </div>

                <div class="menu-item zwembaden">
                    <i class="material-icons">pool</i>
                    <a>Zwembaden</a>
                </div>
            </nav>

            <nav class="menu main-menu">
                <div class="menu-item interesses">
                    <i class="material-icons">star</i>
                    <a>Interesses</a>
                </div>

                <div class="menu-item herinneringen">
                    <i class="material-icons">cloud</i>
                    <a>Mijn Herinneringen</a>
                </div>

                <div class="menu-item plaatsen">
                    <i class="material-icons">whatshot</i>
                    <a>Populaire Plaatsen</a>
                </div>
            </nav>
        </aside>

        <!-- <button id="route">route</button> -->
        <!-- <SCRIPTS> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="js/app.min.js"></script>
        <!-- </SCRIPTS> -->
    </body>
</html>
