<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="css/main.min.css" type="text/css">
        <title>Ge ku ne keer inloggen</title>
    </head>

    <body>
        <div id="login-container">
            <h1>Applab</h1>
            <a href="/auth/facebook/">
                <span class="facebookIcon">f</span>
                <span class="signIn">Sign in to facebook</span>
            </a>
        </div>
    </body>
</html>
