<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Wuk ester te doen?</title>
    </head>

    <body>
        <p>
            Allekom, <a href="/auth/facebook/">log ne keer in</a>
        </p>
    </body>
</html>
