/* base style */
html {
    font-family: "Rubik", "Helvetica", "Arial", sans-serif;
    background-color: rgba(0, 0, 0, 0.80);
    color: rgba(255, 255, 255, 1);
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/* /base-style */

/* map */
#map{
    width: 100%;
    height: 100%;
}

#lightbox {
    width: 100%;
    height: calc(100% - 50px);
    background-color: rgba(183, 28, 28, 1);
    overflow-y: scroll;
    display: none;
}

#lightbox ul {
    list-style-type: none;
    display: block;
    padding: 0;
    margin: 0;
}

#lightbox h3 {
    padding: 20px 0;
    margin: 0;
    display: block;
    text-align: center;
    font-size: 1.6rem;
}

#lightbox li {
    width: 100%;
    height: 60%;
    display: block;
}

#lightbox li img {
    width: 100%;
    height: 100%;
}

/* /map */

/* photo */
#photo {
    width: 100%;
    height: 100%;
    background-color: rgba(244, 67, 54, 1);
    z-index: 110;
    display: none;
}

#photo nav {
    width: 100%;
    height: 50px;
    display: flex;
    background-color: rgba(244, 67, 54, 1);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 120;
}

#photo canvas {
    display: none;
}

#photo video {
    width: 100%;
    height: calc(100% - 5px);
    object-fit: cover;
}

#photo nav .take-photo {
    display: inline-flex;
    width: 0px;
    height: 48px;
    margin: 0 auto;
    cursor: pointer;
}

#photo nav .cancel-photo {
    display: inline-flex;
    float: right;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

#photo nav .take-photo i.material-icons {
    font-size: 48px;
}

#photo nav .cancel-photo i.material-icons {
    font-size: 48px;
}
/* /photo */

/* sidebar */
aside {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}

aside .menu {
    display: none;
    background-color: rgba(211, 47, 47, 1);
}

aside .menu .menu-item {
    display: inline-block;
    height: 30px;
    width: 100%;
    padding: 10px 0 9px 10px;
    border-bottom: 1px solid rgba(183, 28, 28, 1);
    cursor: pointer;
}

aside .menu .activated {
    background-color: rgba(123, 28, 28, 1);
}

aside .menu .menu-item:last-of-type {
    border: none;
}

aside .menu .menu-item:hover {
    background-color: rgba(239, 83, 80, 1);
}

aside .menu .menu-item:active {
    background-color: rgba(183, 28, 28, 1);
}

aside .menu .menu-item a {
    display: inline-block;
    width: 200px;
    height: 20px;
    margin-top: 5px;

}

aside .menu .menu-item i.material-icons {
    font-size: 24px;
    padding: 0 30px 0 8px;
    float: left;
    display: inline-block;
}

aside .menu-controls {
    height: 50px;
    clear: both;
    background-color: rgba(244, 67, 54, 1);
    cursor: pointer;
    transition: 0.3s;
}

aside nav a i.material-icons {
    color: rgba(255, 255, 255, 1);
    font-size: 38px;
}

aside nav .hamburger {
    float: left;
    margin: 5px 0 0 10px;
}

aside nav .photo {
    float: right;
    margin: 5px 10px 0 0;
}

#interesses-page {
    display: none;
    height: 400px;
    width: 100%;
    background-color: rgba(211, 47, 47, 1);
}
/* /sidebar */

/* login */
#login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url("/media/background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    padding-top: 10%;
    width: 100%;
    font-size: 10rem;
    margin: 0;
    text-align: center;
    text-shadow: -1px 0 #999, 0 1px #999, 1px 0 #999, 0 -1px #999;
}

#login-container a {
    padding-right: 10px;
    padding-left: 6px;
    height: 80px;
    font-family: "Rubik", "Helvetica", "Arial", sans-serif;
    margin: auto;
    text-decoration: none;
    color: white;
    background-color: #3b5998;
    text-align: center;
    border-bottom: solid #26417a 3px;
}

#login-container a .facebookIcon {
    display: inline-block;
    height: 100%;
    line-height: 80px;
    font-size: 3.5rem;
    padding: 0 25px;
    border-right: solid #4f6aa3 4px;
}

#login-container a .signIn {
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    padding: 20px 15px 0 15px;
    font-size: 1.5rem;
}

/* smartphones */
@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* /smartphones */
    h1 {
        padding-top: 50%;
        font-size: 4rem;
    }

    /*#login-container a {
        padding-right: 4px;
        padding-left: 3px;
        height: 32px;
    }

    #login-container a .facebookIcon {
        line-height: 32px;
        font-size: 1.4rem;
        padding: 0 10px;
    }

    #login-container a .signIn {
        padding: 8px 6px 0 6px;
        font-size: 0.6rem;
    }*/
    #login-container {
        background-position: bottom;
        background-position-x: 90%;
    }

    #login-container a {
        padding-right: 6px;
        padding-left: 5px;
        height: 48px;
    }

    #login-container a .facebookIcon {
        line-height: 48px;
        font-size: 2.1rem;
        padding: 0 15px;
    }

    #login-container a .signIn {
        padding: 12px 9px 0 9px;
        font-size: 0.9rem;
    }

}


/* tablets */
@media screen and (min-device-width: 480px) and (max-device-width: 1024px) {
    h1 {
        font-size: 6rem;
    }

    #login-container a {
        padding-right: 6px;
        padding-left: 5px;
        height: 48px;
    }

    #login-container a .facebookIcon {
        line-height: 48px;
        font-size: 2.1rem;
        padding: 0 15px;
    }

    #login-container a .signIn {
        padding: 12px 9px 0 9px;
        font-size: 0.9rem;
    }

}
/* /tablets */

#route {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 100px;
    left: 100px;
    background-color: black;
    color: white;
    z-index: 100;
}
