/* base-style */
@font-face {
    font-family: "Rubik";
    src: url("/src/fonts/Rubik-Regular.woff2") format("woff2"),
         url("/src/fonts/Rubik-Regular.woff") format("woff");
}

@font-face {
    font-family: "Rubik";
    src: url("/src/fonts/Rubik-Bold.woff2") format("woff2"),
         url("/src/fonts/Rubik-Bold.woff") format("woff");
    font-weight: bold;
}

@font-face {
  font-family: 'Material Icons';
  src: url("/src/fonts/MaterialIcons-Regular.woff2") format('woff2'),
       url("/src/fonts/MaterialIcons-Regular.woff") format('woff');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html {
    font-family: "Rubik", "Helvetica", "Arial", sans-serif;
    background-color: rgba(0, 0, 0, 0.80);
    color: rgba(255, 255, 255, 1);
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}
/* /base-style */

/* /map */
#map{
    width: 100%;
    height: 100%;
}

/* sidebar */
aside {
    width: 100%;
    background-color: rgba(244, 67, 54, 1);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    height: 50px;
}

aside.active {
    height: 30%;
}
/* /sidebar */

/* smartphones */
@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
}
/* /smartphones */

/* tablets */
@media screen and (min-device-width: 480px) and (max-device-width: 1024px) {
}
/* /tablets */
